[Unit]
Description=Check BEIOCalender TLS certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 03,15:15:00
RandomizedDelaySec=45m
Persistent=true

[Install]
WantedBy=timers.target
